#overlay {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 99;
    backdrop-filter: blur(1px);

}
.open{
    transform: translateX(-100%);
    
}

#modal-contenedor {
    width: 350px;
    height: 100%;
    cursor: default;
    text-decoration: none;
    list-style: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    /* font-family: 'Lato'; */
    font-family: 'Gothic A1';
    font-weight: bold;
    position: fixed;
    z-index: 100;
    top: 0;
    right: -350px;
    display: flex;
    transition: all .2s ease;
    flex-direction: column;
    justify-content: space-between;

}

.abrir {

    transform: translateX(-100%);
    transition: all .2s ease;


}

#modal-c-1 {
    display: flex;
    flex-direction: column;
    overflow: auto;


}

#modal-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgb(197, 197, 197);


}

#modal-header span {
    font-size: 20px;
}



#modal-contenido {
    overflow-y: auto;




}

#modal-content {
    padding: 20px;
    border-bottom: 1px solid rgb(197, 197, 197);
    display: flex;
    gap: 15px;



}

#modal-content a {
    display: flex;
    gap: 15px;
    color: rgb(0, 0, 0);

}

#modal-content img {
    width: 100px;
    height: auto;
    padding: 0px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20%;
    object-fit: cover;
    background-color: rgb(0, 0, 0);


}

#modal-content div button {
    all: unset;
    cursor: pointer;
}

#modal-descripcion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#modal-total {
    padding: 20px;
    border-top: 1px solid rgb(197, 197, 197);


}

#modal-t-price {
    display: flex;
    justify-content: space-between;
}

#modal-t-price strong {
    font-size: 23px;
}

#modal-t-price span {
    font-size: 23px;
    color: #fc7608;
    padding-bottom: 15px;
}

#modal-t-botones {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#modal-t-botones button {

    background-color: #ff5e00;
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

#modal-t-botones button:first-child {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 253, 253);
    border: 1px solid rgb(0, 0, 0);
}

/*****************estilos scrollbar**********************/
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(219, 84, 22);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(20, 20, 20);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff5e00;
}

/*******************************************/