* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;

}

body {
    background-color: #000;


}

a {

    text-decoration: none;


}

/********************************header*****************************************/
header {

    background-color: #141414;
    display: flex;
    gap: 8px;

    justify-content: space-between;
    font-family: 'Gothic A1';

    align-items: center;
    color: white;
    padding: 20px 10px;
    border-bottom: 2px solid #ff5e00;
}

header img {
    border-radius: 50%;
    width: 150px;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 25px;

}

/************************botones animacion nav**********************************/
.link {
    /* display: inline-block;
    padding: 0;
    font-size: 25px;
    font-family: sans-serif;
    margin: 25px; */
    font-size: 1.6vw;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.link a:hover::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(255, 136, 0);
    position: absolute;
    bottom: 0px;
    left: -145%;
    animation: movErentrar 0.3s ease-in-out forwards;
    z-index: -1;

}

.link a:not(:hover)::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(255, 136, 0);
    position: absolute;
    bottom: 0px;
    left: -145%;
    animation: movErsalir 0.3s ease-in-out forwards;
    z-index: -1;

}

/******************************************************************/


@keyframes movErentrar {
    0% {
        left: -145%;
    }

    100% {
        left: 0%;
    }
}

@keyframes movErsalir {
    0% {
        left: 0%;
    }

    100% {
        left: -145%;
    }
}



/**********************************************************/
#home {
    display: none;
    font-size: 25px;
}

.search {
    display: flex;
    width: 50vw;
    background-color: #e7661b;
    align-items: center;
    margin: 50px 0;
    padding: 5px;
    border-radius: 8px;

}

input::placeholder {
    color: white;
    font-family: 'Gothic A1';
}

.search input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    height: 40px;
}

.search i {
    font-size: 25px;
    margin-left: 10px;
}

.usuario {
    display: flex;
    gap: 40px;
}

.user,
.mimarket {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    position: relative;
}

.usuario i {
    font-size: 25px;
    font-weight: bold;
}
#contador{
   position: absolute;
   top: -10px;
   right: 6px; 
   border-radius: 50%;
   background-color: #ff5e00;
   padding: 2px 5px;
   font-size: 12px;
}


/*******************************main**************************************/





.main {
    display: flex;
    width: 100%;
    padding: 30px 25px;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-around;
   
    


}

table {

    border-collapse: collapse;
    font-family: 'Lato';
    width: 60%;
    flex-grow: 1;
    color: rgb(255, 255, 255); 
    overflow-y:scroll;
    
    

}

table tr td a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;



}

tbody tr {
    height: auto;
}

tbody tr td:nth-child(3) {
    max-width: 150px;
}

tbody tr td:nth-child(2) {
    width: 70px;

}

td {

    padding: 15px 10px;
    border-bottom: 1px solid rgb(209, 193, 193);
    text-align: start;
    vertical-align: middle;



}

th {
    padding: 15px 10px;
    border-bottom: 1px solid rgb(209, 193, 193);
    text-align: start;
    text-transform: uppercase;
    font-weight: bold;


}

.btn-eliminar {
    all: unset;
    width: 20px;
    height: 20px;
    cursor: pointer;

}

.producto-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.contenedor-cantidad {
    display: flex;
    justify-content: start;
    align-items: center;

}

.contenedor-cantidad button {


    height: 25px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    color: #000;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    padding: 1px 6px;


}

.contenedor-cantidad input {

    width: 40px;
    text-align: center;
    border: 2px solid #ececec;
    color: #000;

    border-radius: 7px;


}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/****************************************************/

.tabla-mobile{
    color: white;
    font-family: 'Lato';
    width: 100%;
    display: none;
    
   
}
.items{
    display: flex;
    padding: 20px 0;    
    border-bottom: 1px solid white;
    align-items: center;
    gap: 20px;
}
.tabla-mobile img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    
}
.desc-producto{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}
.mobile-producto{
    font-size: 18px;
    font-weight: bold;
    
}
.columnas{
    text-transform: uppercase;
    font-size: 12px;
}
.items-mobile{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
}
.input-cantidad{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 8px;
}
.cantidad {
    display: flex;
    justify-content: start;
    align-items: center;

}

.cantidad button {


    height: 25px;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    color: #000;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    padding: 1px 6px;


}

.cantidad input {

    width: 40px;
    text-align: center;
    border: 2px solid #ececec;
    color: #000;

    border-radius: 7px;


}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/**************************************************/

.section-total {
    width: 30%;
    height: 100%;
    flex-grow: 1;
    
    
}
.totales {
    color: rgb(255, 255, 255);
    border: 3px solid #bdb2b2;
    padding: 25px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
    font-weight: bold;
    width: 100%;
    border-radius: 7px;


}

.totales h2 {
    white-space: nowrap;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: start;
    font-size: 18px;

}

.subtotal {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;

}

.strong-span-total{
    padding: 15px 0px;
}

.total {
    display: flex;
    justify-content: space-between;

}



.totales button {
    width: 100%;
    margin-top: 25px;
    padding: 20px;
    background-color: #ff5e00;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
}


/**************footer*********************/

footer {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 5px solid #ff5e00;



}

footer div img {
    width: 200px;
}

footer section {
    display: flex;
    justify-content: space-around;
    background-color: #141414;
}

footer section h1 {
    font-size: 40px;
    color: white;
    font-family: 'Gothic A1';
    font-weight: bold;

}

.f-h1-redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;


}

.redes {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    color: white;


}

.redes a:hover {
    color: #ff5e00;
}

footer div span {
    color: white;
    font-family: 'Gothic A1';
    font-size: 15px;
    padding: 0;



}

/*-------------------------------------*/
/* BOTON WHATSSAP */
.btn-wsp {
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 55px;
    bottom: 30px;
    right: 20px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;

}


.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;


}

@media screen and (max-width:766px) {

    /******************header******************************/
    #inicio {
        display: none;
    }

    #home {
        display: block;
    }

    header {
        height: 70px;
    }

    header img {
        width: 50px;
    }

    header nav ul {
        gap: 25px;
    }

    .usuario {
        gap: 25px;
    }

    .usuario span {
        display: none;
    }
    #contador{
        display: block;
    }

    /*****************main************************/


    /*******************footer************/
    footer div img {
        width: 150px;
    }

    footer section h1 {
        font-size: 30px;
    }

    @media screen and (max-width:766px) {
        
        table{
            display: none;
        }
        .tabla-mobile{
            display: block;
        }
    }
}