* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;

}

body {
    background-color: #000;


}

a {

    text-decoration: none;


}
/********************************header*****************************************/
header{
    
    background-color: #141414;
    display: flex;
    gap: 8px;
   
    justify-content: space-between;
    font-family: 'Gothic A1';

    align-items: center;
    color: white;
    padding: 20px 10px;
    border-bottom: 2px solid #ff5e00;
}
header img{
    border-radius: 50%;
    width: 150px;
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 25px;
    
}
/************************botones animacion nav**********************************/
.link {
    /* display: inline-block;
    padding: 0;
    font-size: 25px;
    font-family: sans-serif;
    margin: 25px; */
    font-size: 1.6vw;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.link a:hover::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(255, 136, 0);
    position: absolute;
    bottom: 0px;
    left: -145%;
    animation: movErentrar 0.3s ease-in-out forwards;
    z-index: -1;

}

.link a:not(:hover)::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(255, 136, 0);
    position: absolute;
    bottom: 0px;
    left: -145%;
    animation: movErsalir 0.3s ease-in-out forwards;
    z-index: -1;

}

/******************************************************************/


@keyframes movErentrar {
    0% {
        left: -145%;
    }

    100% {
        left: 0%;
    }
}

@keyframes movErsalir {
    0% {
        left: 0%;
    }

    100% {
        left: -145%;
    }
}



/**********************************************************/
#home{
    display: none;
    font-size: 25px;
}

.search{
    display: flex;
    width: 50vw;
    background-color: #e7661b;
    align-items: center;
    margin: 50px 0;
    padding: 5px;
    border-radius: 8px;
    
}
input::placeholder{
    color: white;
    font-family: 'Gothic A1';
}
.search input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    height: 40px;
}
.search i{
    font-size: 25px;
    margin-left: 10px;
}
.usuario{
    display: flex;
    gap: 40px;
}
.user , .mimarket{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    position: relative;
}
.usuario i{
    font-size: 25px;
    font-weight: bold;
}
#contador{
    position: absolute;
    top: -10px;
    right: 6px; 
    border-radius: 50%;
    background-color: #ff5e00;
    padding: 2px 5px;
    font-size: 12px;
 }

/*******************************main**************************************/
.product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding:120px;
}

button {
    cursor: pointer;
}

.card {
    color: aliceblue;
    position: relative;
    height: 50vh;
    
    background-color:#141414;
    

}
.card:hover{
    border: 1px solid #ff5e00;
}

.card button {
    position: absolute;
    
    right:10px;
    top: 10px;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: #ff5e00;
    font-size: 25px;
    z-index: 3;
    
} 
.card button:hover{
    color: #ff5e00;
    background-color: #000;
}
.card button i{
position: relative;
top: 4px;
}

.card a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:50vh;

}

.card a img {
    width: 100%;
    object-fit: cover;
    height:35vh;
} 
.card-img{
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
.card a img:hover{
    transform: scale(1.25);
    transition: transform .5s;
}
.card a div h2{
    font-family: 'Gothic A1';
    font-size: 20px;
    padding: 0px 20px;
    font-weight: bold;
}
.card a div p{
    font-family: 'Lato';
    padding: 0px 20px;
    font-size: 30px;
}
.card-resena{
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    height: 100%;
    align-items: center;
    

}

/**************footer*********************/

footer{    
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 5px solid #ff5e00;   
    
   
}
footer div img{
    width: 200px;
}
footer section{
    display: flex;
    justify-content: space-around;
    background-color: #141414;
}
footer section h1{
    font-size: 40px;
    color: white;
    font-family: 'Gothic A1';
    font-weight: bold;
   
}
.f-h1-redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    
    
}
.redes{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    color: white;
    
    
}

.redes a:hover{
    color: #ff5e00;
}
footer div span{
    color: white;
    font-family: 'Gothic A1';
    font-size: 15px;
    
    
    
    
}
/*-------------------------------------*/
/* BOTON WHATSSAP */
.btn-wsp {
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 55px;
    bottom: 30px;
    right: 20px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;

}


.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: #fff;


}

@media screen and (max-width:766px) {
    /******************header******************************/
    #inicio{
        display: none;
    }
    #home{
        display: block;
    }
    header{
        height: 70px;
    }
    header img{
        width:50px ;
    }
    header nav ul {
        gap:25px;
    }
    .usuario{
        gap: 25px;
    }
    .usuario span{
        display: none;
    }

    /*****************main************************/
    .product{
        padding: 30px;
    }

    /*******************footer************/
    footer div img{
        width: 150px;
    }
    footer section h1{
        font-size: 30px;
    }
}